name: Deploy

on:
  push:
    branches:
      - main
  
permissions:
  contents: write
  packages: write


jobs:
  build-prod:
    uses: alvaroc-code/workflow-templates/.github/workflows/build-and-push.yml@main
    with:
      image_name: 'eks-agent'
      version_prefix: ''
      dockerfile_path: '../Dockerfile'
